.content-wrapp
  .container
    .admin-title
      h2.admin-title__text Страница "Блог"
    .form-wrapp
      form.form.form-blog(action="" id="form-blog")
        .form-blog__row.form-blog__row--margin
          .form-title
            h3.form-blog__title_text Добавить запись
        .form-blog__row
          label(for="form-blog__name")
            input.input.form-blog__input(name="form-blog__name" type="text" placeholder="Название" id="form-blog__name")
        .form-blog__row
          label(for="form-blog__data")
            input.input.form-blog__input(name="form-blog__data" type="date" placeholder="Дата" id="form-blog__data")
        .form-blog__row.form-blog__row--margin
          label(for="form-blog__textarea")
            textarea.input.form-blog__textarea(id="form-blog__textarea" name="form-blog__textarea" placeholder="Содержание")
        button.button.blog-button(id="blog-button" type="submit" ) Добавить
  include ../common/_modal.pug

    