.content-wrapp
  .container
    .admin-title
      h2.admin-title__text Страница "Мои работы"
    .form-wrapp
      form.form.form-work(action="" id="form-work")
        .form-work__row.form-work__row--margin
          .form_title
            .form-work__title_text Добавить работу
        .form-work__row
          label(for="form-work__name")
            input.input.form-work__input(placeholder="Название проекта" id="form-work__name" name="form-work__name" type="text")
        .form-work__row
          label(for="form-work__tech")
            input.input.form-work__input(placeholder="Технологии" id="form-work__tech" name="form-work__tech" type="text")
        .form-work__row
          label.label-file(for="form-work__file")
            input.input.form-work__file(id="form-work__file" name="form-work__file" type="file")
            .form-work__file--fake
              img.form-work__file_img(src="./assets/img/download.png", alt="загрузить")
            .form-work__file_text Загрузить картинку
        button.button.work-button(id="blog-button" type="submit" ) Добавить
  include ../common/_modal.pug