//- tab name
-
 var tabs = [
    {tab:'TAB 1', link:"./tab_one.html"},
    {tab:'TAB 2', link:"./tab_two.html"},
    {tab:'TAB 3', link:"./tab_free.html"}
  ]

- var active = 'admin-tabs__link--active'

//- skills title
-
 var skillsTitle = [
    'Frontend',
    'Workflow',
    'Backend'
  ]

//- skills name
-
  var skillFront = [
    {name:'html', number: 100},
    {name:'css', number: 90},
    {name:'javascript', number: 80}
  ];
    var skillWork = [
    {name:'Git', number: 60},
    {name:'Gulp', number: 70},
    {name:'Bower', number: 50}
  ];
    var skillBack = [
    {name:'Php', number: 40},
    {name:'Node.js', number: 30},
    {name:'Mongo.db', number: 20}
  ]