<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="icon" href="./assets/img/icons/favicon.ico" type="image/x-icon")
    link(rel="stylesheet", href="./assets/css/main.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.9/svg4everybody.min.js")
    script svg4everybody();
    title Document
  body
    .wrapper
    footer.footer
    script(src="./assets/js/bundle.js")