.form-blog__row
  margin-bottom: 20px

.form-blog__row--margin
  margin-bottom: 30px

.form-blog__title_text
  font-weight: 500
  font-size: 16px
  color: $text

.form-blog__input
  width: 300px

.form-blog__textarea
  height: 166px
  width: 500px
  resize: none

.input[type=date]
  font-family: 'roboto', serif
  font-weight: 400
  font-size: 16px
  color: lighten(#000, 45%);