.main
  flex: 1

.container
  margin: 0 30px
  height: 100%

.main-content
  background-image: url('./../img/bg_filter.jpg')
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  height: 100%

.admin-title__text
  font-family: 'roboto', serif
  font-weight: 500
  font-size: 21px
  color: $text
  padding: 50px 0

.button
  background: $green
  border: transparent
  border-radius: 5px
  color: #fff
  padding: 15px 20px
  cursor: pointer
  transition: all .5s
  margin-bottom: 40px
  font-family: 'roboto', Arial, Helvetica, sans-serif
  font-size: 16px

  &:hover
    background: $grHov

.input
  color: $number
  font-size: 16px
  padding: 16px 19px
  font-weight: 400
  border: transparent
  border-radius: 5px

.hide
  display: none

.show
  display: block